@charset "UTF-8";
* {
  list-style: none;
  font-family: 遊ゴシック体;
}

.bg {
  background-image: url(../img/bg.png);
  background-size: cover;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
}

.logo {
  display: block;
  width: get_vw(259);
  height: get_vw(153);
}

.nav {
  margin-right: get_vw(30);
}

.nav__list {
  display: flex;
}

.nav__item {
  position: relative;
  padding-top: get_vw(55);
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: get_vw(14);
  font-weight: bold;
  line-height: 3.57142857143;
  letter-spacing: .1em;
}

.nav__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: get_vw(1);
  height: get_vw(50);
  margin: auto;
  background-color: #000;
}

.nav__link {
  position: relative;
  margin-left: get_vw(16);
  padding-top: get_vw(43);
  line-height: 3.57142857143;
}

.nav__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: get_vw(1);
  height: get_vw(43);
  margin: auto;
  background-color: #000;
}

.nav__link-content {
  height: get_vw(205);
  padding: get_vw(12) 0;
  border-bottom: get_vw(3) solid #08581c;
  border-radius: get_vw(8);
  background: #2d9748;
}

.nav__btn {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: get_vw(13);
  font-weight: bold;
  letter-spacing: .1em;
  color: #fff;
}

.mv {
  background-image: url(../img/mv_bg.png);
  background-size: cover;
}

.mv__title {
  display: block;
  width: 100%;
}

.mv__btns {
  display: flex;
  padding-left: get_vw(222);
}

.mv__btn {
  display: flex;
  align-items: center;
  margin-right: get_vw(15);
  padding: 0 get_vw(20);
  font-size: get_vw(18);
  font-weight: bold;
  line-height: 3.33333333333;
  letter-spacing: .15em;
  text-decoration: none;
  color: #fff;
  border-radius: get_vw(10);
}

.mv__btn--what {
  background: #0d5289;
  border-bottom: solid get_vw(4) #002641;
}

.mv__btn--here {
  background: #2d9748;
  border-bottom: solid get_vw(4) #08581c;
}

.mv__trial {
  display: block;
  width: 100%;
}

.calorie {
  display: flex;
}

.calorie__column1 {
  display: block;
  width: get_vw(355);
}

.calorie__line1 {
  display: flex;
}

.calorie__main {
  display: block;
  width: get_vw(505);
}

.calorie__cookie {
  display: block;
  width: get_vw(420);
}
