@charset "UTF-8";
* {
  box-sizing: border-box;
  list-style: none;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  font-feature-settings: "palt" 1;
}

@font-face {
  font-family: '851MkPOP_002';
  src: url("../font/851MkPOP_002.eot?") format("oldIE"), url("../font/851MkPOP_002.woff") format("woff"), url("../font/851MkPOP_002.ttf") format("truetype");
}

@font-face {
  font-family: 'MarkaziText';
  src: url("../font/MarkaziText-VariableFont_wght.eot?") format("oldIE"), url("../font/MarkaziText-VariableFont_wght.woff") format("woff"), url("../font/MarkaziText-VariableFont_wght.ttf") format("truetype");
}

.sp-none {
  display: block;
}

.pc-none {
  display: none;
}

@media screen and (max-width: 768px) {
  .sp-none {
    display: none;
  }
  .pc-none {
    display: block;
  }
}

.bg1280 {
  background-image: url(../img/bg1280.png);
  background-size: cover;
  background-position: top;
}

.bg {
  max-width: 1280px;
  margin: 0 auto;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: top;
}

@media screen and (max-width: 768px) {
  .bg {
    background-image: none;
  }
}

.logo {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 20.23438vw;
  height: 11.95312vw;
  z-index: 100;
}

@media screen and (min-width: 1280px) {
  .logo {
    width: 259px;
    height: 153px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 33.72396vw;
    height: 19.92188vw;
  }
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 2.34375vw;
  z-index: 100;
}

.nav__list {
  display: flex;
}

.nav__item {
  position: relative;
  margin-right: 2.1875vw;
  padding-top: 4.29688vw;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 1.09375vw;
  font-weight: bold;
  letter-spacing: .1em;
}

.nav__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0.07812vw;
  height: 3.90625vw;
  margin: auto;
  background-color: #000;
}

.nav__item-link {
  text-decoration: none;
  color: #000;
}

.nav__link {
  position: relative;
  padding-top: 3.35938vw;
  line-height: 3.57142857143;
}

.nav__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0.07812vw;
  height: 3.35938vw;
  margin: auto;
  background-color: #2d9748;
}

.nav__link-content {
  display: block;
  padding: 0.9375vw 0;
  border-bottom: 0.23438vw solid #08581c;
  border-radius: 0.625vw;
  background: #2d9748;
  text-decoration: none;
}

.nav__btn-txt {
  margin-bottom: 0.54688vw;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 1.01562vw;
  font-weight: bold;
  letter-spacing: .1em;
  color: #fff;
}

.nav__btn-img {
  display: block;
  width: 1.25vw;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .nav {
    margin-right: 30px;
  }
  .nav__item {
    margin-right: 28px;
    padding-top: 55px;
    font-size: 14px;
  }
  .nav__item::before {
    width: 1px;
    height: 50px;
  }
  .nav__link {
    padding-top: 43px;
  }
  .nav__link::before {
    width: 1px;
    height: 43px;
  }
  .nav__link-content {
    padding: 12px 0;
    border-bottom: 3px solid #08581c;
    border-radius: 8px;
  }
  .nav__btn-txt {
    margin-bottom: 7px;
    font-size: 13px;
  }
  .nav__btn-img {
    width: 16px;
  }
}

@media screen and (max-width: 768px) {
  .global-nav {
    position: fixed;
    right: -45.57292vw;
    /* これで隠れる */
    top: 0;
    width: 45.57292vw;
    /* スマホに収まるくらい */
    padding-top: 17.31771vw;
    padding-bottom: 3.90625vw;
    background-color: #f7eddb;
    border-radius: 1.04167vw;
    transition: all .6s;
    z-index: 200;
    overflow-y: auto;
    /* メニューが多くなったらスクロールできるように */
  }
  .hamburger {
    position: fixed;
    right: 0;
    top: 0;
    width: 20.83333vw;
    /* クリックしやすいようにちゃんと幅を指定する */
    height: 17.31771vw;
    /* クリックしやすいようにちゃんと高さを指定する */
    background-image: url(../img/hamburger_bg.png);
    background-size: cover;
    cursor: pointer;
    z-index: 300;
  }
  .global-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .global-nav__item {
    text-align: left;
    padding: 0 4.42708vw;
  }
  .global-nav__item-link {
    display: block;
    padding: 2.08333vw 0;
    font-size: 2.08333vw;
    text-decoration: none;
    color: #000;
  }
  .hamburger__line {
    position: absolute;
    left: 7.8125vw;
    width: 7.16146vw;
    height: 0.13021vw;
    background-color: #795100;
    transition: all .6s;
  }
  .hamburger__line--1 {
    top: 3.90625vw;
  }
  .hamburger__line--2 {
    top: 6.51042vw;
  }
  .hamburger__line--3 {
    top: 9.11458vw;
  }
  .black-bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
    cursor: pointer;
  }
  /* 表示された時用のCSS */
  .nav-open .global-nav {
    right: 0;
  }
  .nav-open .black-bg {
    opacity: .8;
    visibility: visible;
  }
  .nav-open .hamburger__line--1 {
    transform: rotate(45deg);
    top: 6.51042vw;
  }
  .nav-open .hamburger__line--2 {
    width: 0;
    left: 50%;
  }
  .nav-open .hamburger__line--3 {
    transform: rotate(-45deg);
    top: 6.51042vw;
  }
  .global-nav__link-content {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    text-decoration: none;
  }
  .global-nav__btn-txt {
    margin: 0;
    padding: 2.08333vw 0;
    writing-mode: unset;
    font-size: 2.08333vw;
    color: #2d9748;
  }
  .global-nav__btn-img {
    width: 4.16667vw;
    margin-left: 2.60417vw;
  }
}

.mv {
  height: 65.625vw;
  background-image: url(../img/mv_bg.png);
  background-size: cover;
}

.mv__title {
  transform: rotate(-2deg);
  font-size: 5.3125vw;
  font-family: "851MkPOP_002";
  line-height: 1.2;
  color: #0d5289;
}

.mv__title-organic {
  font-size: 4.01016vw;
  font-family: "851MkPOP_002";
  line-height: 1.55854276252;
}

.mv__title-bg {
  padding-top: 15.625vw;
  padding-bottom: 2.34375vw;
  padding-left: 17.1875vw;
  background-image: url(../img/mv_title-bg.png);
  background-size: contain;
  background-position-y: 16.79688vw;
}

.mv__subtitle {
  padding-left: 17.57812vw;
  font-size: 1.25vw;
  font-weight: bold;
  line-height: 2;
  letter-spacing: .05em;
  color: #0d5289;
}

.mv__btns {
  display: flex;
  padding-top: 1.95312vw;
  padding-left: 17.34375vw;
}

.mv__btn {
  display: flex;
  align-items: center;
  margin-right: 1.17188vw;
  padding: 0 1.5625vw;
  font-size: 1.40625vw;
  font-weight: bold;
  line-height: 3.33333333333;
  letter-spacing: .15em;
  text-decoration: none;
  color: #fff;
  border-radius: 0.78125vw;
}

.mv__btn-link {
  text-decoration: none;
}

.mv__btn-cookie {
  display: block;
  width: 1.875vw;
  margin-left: 1.17188vw;
}

.mv__btn--what {
  background: #0d5289;
  border-bottom: solid 0.3125vw #002641;
}

.mv__btn--here {
  background: #2d9748;
  border-bottom: solid 0.3125vw #08581c;
}

.mv__trial {
  display: block;
  position: absolute;
  top: 42.5vw;
  width: 25.78125vw;
}

@media screen and (min-width: 1280px) {
  .mv {
    max-width: 1280px;
    height: 840px;
    margin: 0 auto;
  }
  .mv__title {
    font-size: 68px;
  }
  .mv__title-organic {
    font-size: 51.33px;
  }
  .mv__title-bg {
    padding-top: 200px;
    padding-bottom: 30px;
    padding-left: 220px;
    background-position-y: 215px;
  }
  .mv__subtitle {
    padding-left: 225px;
    font-size: 16px;
  }
  .mv__btns {
    padding-top: 25px;
    padding-left: 222px;
  }
  .mv__btn {
    margin-right: 15px;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 10px;
  }
  .mv__btn-cookie {
    width: 24px;
    margin-left: 15px;
  }
  .mv__btn--what {
    border-bottom: solid 4px #002641;
  }
  .mv__btn--here {
    border-bottom: solid 4px #08581c;
  }
  .mv__trial {
    top: 544px;
    width: 330px;
  }
}

@media screen and (max-width: 768px) {
  .mv {
    height: 104.16667vw;
    background-image: url(../img/mv_bg-sp.png);
  }
  .mv__title {
    font-size: 8.85417vw;
  }
  .mv__title-organic {
    font-size: 6.68359vw;
  }
  .mv__title-bg {
    padding-top: 19.40104vw;
    padding-bottom: 3.90625vw;
    padding-left: 6.51042vw;
    background-image: url(../img/mv_title-bg-sp.png);
    background-position-y: 19.40104vw;
  }
  .mv__subtitle {
    padding-left: 11.84896vw;
    font-size: 2.08333vw;
  }
  .mv__btns {
    flex-direction: column;
    padding-top: 3.25521vw;
    padding-left: 11.71875vw;
  }
  .mv__btn {
    margin-right: 1.95313vw;
    margin-bottom: 1.95313vw;
    padding: 0 2.60417vw;
    font-size: 2.34375vw;
    border-radius: 1.30208vw;
  }
  .mv__btn-cookie {
    width: 3.125vw;
    margin-left: 1.95313vw;
  }
  .mv__btn--what {
    border-bottom: solid 0.52083vw #002641;
  }
  .mv__btn--here {
    border-bottom: solid 0.52083vw #08581c;
  }
  .mv__trial {
    top: 78.77604vw;
    width: 25.78125vw;
  }
}

.calorie {
  position: relative;
  height: 70.3125vw;
  padding-top: 6.64062vw;
}

.calorie__title {
  text-align: center;
  font-family: "851MkPOP_002";
  font-size: 3.4375vw;
  line-height: 1.36363636364;
  letter-spacing: .1em;
  color: #0d5289;
}

.calorie__title-bg {
  width: 43.75vw;
  height: 23.82812vw;
  margin: 0 auto;
  padding-top: 8.98438vw;
  background-image: url(../img/calorie_title-bg.png);
  background-size: cover;
}

.calorie__txt {
  width: 43.75vw;
  margin: 0 auto;
  padding-top: 2.34375vw;
  text-align: center;
  font-size: 1.25vw;
  line-height: 2;
  letter-spacing: .1em;
}

.calorie__txt--blue {
  font-weight: bold;
  color: #0d5289;
}

.calorie__cookie {
  display: block;
  position: absolute;
  top: 6.64062vw;
  right: 0;
  width: 32.65625vw;
}

.calorie__family {
  display: block;
  position: absolute;
  top: 25vw;
  left: 0;
  width: 28.125vw;
}

.calorie__girl {
  display: block;
  position: absolute;
  top: 38.67188vw;
  right: 0;
  width: 28.125vw;
}

@media screen and (min-width: 1280px) {
  .calorie {
    max-width: 1280px;
    height: 900px;
    margin: 0 auto;
    padding-top: 85px;
  }
  .calorie__title {
    font-size: 44px;
  }
  .calorie__title-bg {
    width: 560px;
    height: 305px;
    padding-top: 115px;
  }
  .calorie__txt {
    width: 560px;
    padding-top: 30px;
    font-size: 16px;
  }
  .calorie__cookie {
    top: 85px;
    width: 418px;
  }
  .calorie__family {
    top: 320px;
    width: 360px;
  }
  .calorie__girl {
    top: 495px;
    width: 360px;
  }
}

@media screen and (max-width: 768px) {
  .calorie {
    height: 110.02604vw;
    padding-top: 23.04688vw;
    background-image: url(../img/calorie_bg-sp.png);
    background-size: cover;
  }
  .calorie__title {
    font-size: 3.90625vw;
  }
  .calorie__title-bg {
    width: 100vw;
    height: 17.57812vw;
    padding-top: 0vw;
    padding-left: 0vw;
    background-image: url(../img/calorie_title-bg-sp.png);
    background-size: cover;
    background-position-y: 3.25521vw;
    background-position-x: 10.41667vw;
  }
  .calorie__txt {
    width: 72.91667vw;
    padding-top: 3.90625vw;
    text-align: center;
    font-size: 2.08333vw;
  }
  .calorie__family {
    width: 20.3125vw;
  }
  .calorie__girl {
    top: 69.92188vw;
    right: 0;
    width: 20.3125vw;
  }
}

.organic {
  height: 206.71875vw;
  position: relative;
  padding-top: 15.70312vw;
}

.organic__what-leaf--left {
  display: block;
  position: absolute;
  top: 0;
  width: 26.5625vw;
}

.organic__what-leaf--right {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 26.5625vw;
}

.organic__what-title {
  margin-left: -1.17188vw;
  font-family: "851MkPOP_002";
  font-size: 4.0625vw;
  line-height: 1.15384615385;
  color: #0d5289;
}

.organic__what-title-bg {
  width: 100vw;
  height: 7.03125vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(../img/organic_what-title-bg.png);
  background-size: cover;
}

.organic__kind {
  display: flex;
  margin-top: 4.14062vw;
}

.organic__kind-family {
  display: block;
  width: 57.03125vw;
  height: 33.59375vw;
}

.organic__kind-word {
  display: flex;
}

.organic__kind-side {
  padding-top: 6.25vw;
  padding-left: 4.53125vw;
}

.organic__kind-dt {
  margin-top: 2.57812vw;
  font-size: 1.25vw;
  font-weight: bold;
  line-height: 2;
  letter-spacing: .1em;
}

.organic__kind-dt:first-child {
  margin-top: 0;
}

.organic__kind-dd {
  font-size: 1.25vw;
  line-height: 2;
  letter-spacing: .1em;
}

.organic__kind-vertical {
  padding-top: 1.64062vw;
  padding-left: 3.51562vw;
}

.organic__kind-txt {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 2.1875vw;
  font-weight: bold;
  line-height: 1.71428571429;
  letter-spacing: .1em;
  color: #0d5289;
}

.organic__sweets {
  position: relative;
  padding-top: 12.34375vw;
}

.organic__sweets-leaf {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 27.34375vw;
}

.organic__sweets-title {
  font-family: "851MkPOP_002";
  font-size: 4.0625vw;
  line-height: 1.15384615385;
  color: #0d5289;
}

.organic__sweets-title-bg {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  height: 7.1875vw;
  background-image: url(../img/organic_sweets-title-bg.png);
  background-size: cover;
}

.organic__manufacture {
  display: flex;
  justify-content: space-between;
  margin-top: 4.14062vw;
}

.organic__manufacture-word {
  display: flex;
}

.organic__manufacture-vertical {
  padding-left: 5.46875vw;
}

.organic__manufacture-txt {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 2.1875vw;
  font-weight: bold;
  line-height: 1.71428571429;
  letter-spacing: .1em;
  color: #0d5289;
}

.organic__manufacture-side {
  padding-top: 6.64062vw;
  padding-left: 4.29688vw;
}

.organic__manufacture-dt {
  margin-top: 2.57812vw;
  font-size: 1.25vw;
  font-weight: bold;
  line-height: 2;
  letter-spacing: .1em;
}

.organic__manufacture-dt:first-child {
  margin-top: 0;
}

.organic__manufacture-dd {
  font-size: 1.25vw;
  line-height: 2;
  letter-spacing: .1em;
}

.organic__manufacture-packing {
  display: block;
  width: 57.03125vw;
  height: 33.59375vw;
}

.organic__jas {
  position: relative;
  padding-top: 9.29688vw;
}

.organic__jas-leaf--left {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 31.25vw;
}

.organic__jas-leaf--right {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 14.84375vw;
}

.organic__jas-title {
  font-family: "851MkPOP_002";
  font-size: 4.0625vw;
  line-height: 1.15384615385;
  color: #0d5289;
}

.organic__jas-title-bg {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  height: 7.1875vw;
  background-image: url(../img/organic_jas-title-bg.png);
  background-size: cover;
}

.organic__boxes {
  display: flex;
  justify-content: space-between;
  margin: 4.14062vw 7.03125vw 0;
}

.organic__boxes-dt {
  padding-right: 1.17188vw;
  padding-left: 1.17188vw;
  padding: 0 1.95312vw;
  font-size: 1.875vw;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: .1em;
}

.organic__boxes-dd {
  font-size: 1.25vw;
  line-height: 2;
  letter-spacing: .1em;
}

.organic__box-img {
  display: block;
  width: 40.625vw;
}

.organic__box-txt {
  display: flex;
  width: 40.625vw;
  padding-top: 1.5625vw;
}

.organic__order {
  display: flex;
  justify-content: center;
  padding-top: 4.29688vw;
}

.organic__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 39.0625vw;
  height: 7.8125vw;
  padding: 0 1.5625vw;
  font-size: 1.5625vw;
  font-weight: bold;
  line-height: 3;
  letter-spacing: .15em;
  color: #fff;
  border-radius: 0.78125vw;
}

.organic__btn-link {
  text-decoration: none;
}

.organic__btn-cookie {
  display: block;
  position: absolute;
  right: 2.34375vw;
  width: 2.42188vw;
}

.organic__btn--here {
  background: #2d9748;
  border-bottom: solid 0.3125vw #08581c;
}

@media screen and (min-width: 1280px) {
  .organic {
    position: relative;
    max-width: 1280px;
    height: 2646px;
    margin: 0 auto;
    padding-top: 201px;
  }
  .organic__what-leaf--left {
    width: 340px;
  }
  .organic__what-leaf--right {
    width: 340px;
  }
  .organic__what-title {
    font-size: 52px;
  }
  .organic__what-title-bg {
    width: 1280px;
    height: 90px;
  }
  .organic__kind {
    margin-top: 53px;
  }
  .organic__kind-family {
    width: 730px;
    height: 430px;
  }
  .organic__kind-side {
    padding-top: 80px;
    padding-left: 58px;
  }
  .organic__kind-dt {
    margin-top: 33px;
    font-size: 16px;
  }
  .organic__kind-dd {
    font-size: 16px;
  }
  .organic__kind-vertical {
    padding-top: 21px;
    padding-left: 45px;
  }
  .organic__kind-txt {
    font-size: 28px;
  }
  .organic__sweets {
    padding-top: 158px;
  }
  .organic__sweets-leaf {
    width: 350px;
  }
  .organic__sweets-title {
    font-size: 52px;
  }
  .organic__sweets-title-bg {
    width: 1280px;
    height: 92px;
  }
  .organic__manufacture {
    margin-top: 53px;
  }
  .organic__manufacture-vertical {
    padding-left: 70px;
  }
  .organic__manufacture-txt {
    font-size: 28px;
  }
  .organic__manufacture-side {
    padding-top: 85px;
    padding-left: 55px;
  }
  .organic__manufacture-dt {
    margin-top: 33px;
    font-size: 16px;
  }
  .organic__manufacture-dd {
    font-size: 16px;
  }
  .organic__manufacture-packing {
    width: 730px;
    height: 430px;
  }
  .organic__jas {
    padding-top: 119px;
  }
  .organic__jas-leaf--left {
    width: 400px;
  }
  .organic__jas-leaf--right {
    width: 190px;
  }
  .organic__jas-title {
    font-size: 52px;
  }
  .organic__jas-title-bg {
    width: 1280px;
    height: 92px;
  }
  .organic__boxes {
    margin: 53px 90px 0;
  }
  .organic__boxes-dt {
    padding-right: 15px;
    padding-left: 15px;
    padding: 0 25px;
    font-size: 24px;
  }
  .organic__boxes-dd {
    font-size: 16px;
  }
  .organic__box-img {
    width: 520px;
  }
  .organic__box-txt {
    width: 520px;
    padding-top: 20px;
  }
  .organic__order {
    padding-top: 55px;
  }
  .organic__btn {
    width: 500px;
    height: 100px;
    padding: 0 20px;
    font-size: 20px;
    border-radius: 10px;
  }
  .organic__btn-cookie {
    right: 30px;
    width: 31px;
  }
  .organic__btn--here {
    border-bottom: 4px solid #08581c;
  }
}

@media screen and (max-width: 768px) {
  .organic {
    height: 100%;
    padding-top: 0;
  }
  .organic__what {
    height: 180.07812vw;
    padding-top: 26.17188vw;
    background-image: url(../img/organic_what-bg-sp.png);
    background-size: cover;
  }
  .organic__what-title {
    margin-left: 0;
    font-size: 6.77083vw;
  }
  .organic__what-title-bg {
    width: 98.95833vw;
    height: 11.97917vw;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url(../img/organic_what-title-bg-sp.png);
    background-size: cover;
  }
  .organic__kind {
    flex-direction: column;
    margin-top: 6.90104vw;
  }
  .organic__kind-family {
    width: 100%;
    height: 100%;
  }
  .organic__kind-word {
    justify-content: center;
  }
  .organic__kind-side {
    padding-top: 10.41667vw;
    padding-left: 0;
  }
  .organic__kind-dt {
    margin-top: 4.29688vw;
    font-size: 2.08333vw;
  }
  .organic__kind-dt:first-child {
    margin-top: 0;
  }
  .organic__kind-dd {
    font-size: 2.08333vw;
  }
  .organic__kind-vertical {
    padding-top: 2.73438vw;
    padding-left: 5.85938vw;
  }
  .organic__kind-txt {
    font-size: 3.64583vw;
  }
  .organic__sweets {
    height: 163.67188vw;
    padding-top: 20.57292vw;
    padding-bottom: 6.38021vw;
    background-image: url(../img/organic_sweets-bg-sp.png);
    background-size: cover;
  }
  .organic__sweets-title {
    font-size: 6.77083vw;
  }
  .organic__sweets-title-bg {
    width: 100%;
    height: 11.58854vw;
    background-image: url(../img/organic_sweets-title-bg-sp.png);
  }
  .organic__manufacture {
    flex-direction: column-reverse;
  }
  .organic__manufacture-word {
    justify-content: center;
  }
  .organic__manufacture-vertical {
    padding-top: 2.73438vw;
    padding-left: 9.11458vw;
  }
  .organic__manufacture-txt {
    font-size: 3.64583vw;
  }
  .organic__manufacture-side {
    padding-top: 11.06771vw;
    padding-left: 7.16146vw;
  }
  .organic__manufacture-dt {
    margin-top: 4.29688vw;
    font-size: 2.08333vw;
  }
  .organic__manufacture-dd {
    font-size: 2.08333vw;
  }
  .organic__manufacture-packing {
    width: 100%;
    height: 55.98958vw;
  }
  .organic__jas {
    padding-top: 15.49479vw;
    background-image: url(../img/organic_jas-bg-sp.png);
    background-size: cover;
  }
  .organic__jas-title {
    font-size: 6.77083vw;
  }
  .organic__jas-title-bg {
    width: 100vw;
    height: 11.97917vw;
    background-image: url(../img/organic_jas-title-bg-sp.png);
  }
  .organic__boxes {
    flex-direction: column;
  }
  .organic__boxes-dt {
    font-size: 3.125vw;
  }
  .organic__boxes-dd {
    font-size: 2.08333vw;
  }
  .organic__box {
    padding-bottom: 5.20833vw;
  }
  .organic__box-img {
    display: block;
    width: 100%;
  }
  .organic__box-txt {
    width: 100%;
  }
  .organic__order {
    padding-top: 7.16146vw;
    background-image: url(../img/organic_order-bg-sp.png);
    background-size: cover;
  }
  .organic__btn {
    width: 65.10417vw;
    height: 13.02083vw;
    padding: 0 2.60417vw;
    font-size: 2.60417vw;
    border-radius: 1.30208vw;
  }
  .organic__btn-cookie {
    right: 3.90625vw;
    width: 4.03646vw;
  }
  .organic__btn--here {
    border-bottom: solid 0.52083vw #08581c;
  }
}

.world {
  height: 91.09375vw;
  padding-top: 7.65625vw;
}

.world__title {
  padding-left: 1.5625vw;
  font-family: "851MkPOP_002";
  font-size: 4.0625vw;
  line-height: 1.15384615385;
  color: #0d5289;
}

.world__title-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 7.8125vw;
  background-image: url(../img/world_title-bg.png);
  background-size: cover;
}

.world__words {
  display: flex;
  justify-content: space-between;
}

.world__collect {
  margin-top: 11.71875vw;
  margin-left: 14.0625vw;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 2.1875vw;
  font-weight: bold;
  line-height: 1.71428571429;
  letter-spacing: .1em;
  color: #0d5289;
}

.world__explanation {
  margin-top: 39.0625vw;
  font-size: 1.25vw;
  line-height: 2;
  letter-spacing: .1em;
}

.world__delicious {
  margin-top: 7.8125vw;
  margin-right: 17.96875vw;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 2.1875vw;
  font-weight: bold;
  line-height: 1.71428571429;
  letter-spacing: .1em;
  color: #0d5289;
}

.world__distribution {
  display: block;
  width: 100vw;
  padding-top: 3.125vw;
}

@media screen and (min-width: 1280px) {
  .world {
    max-width: 1280px;
    height: 1166px;
    margin: 0 auto;
    padding-top: 98px;
  }
  .world__title {
    padding-left: 20px;
    font-size: 52px;
  }
  .world__title-bg {
    width: 1280px;
    height: 100px;
  }
  .world__collect {
    margin-top: 150px;
    margin-left: 180px;
    font-size: 28px;
  }
  .world__explanation {
    margin-top: 500px;
    font-size: 16px;
  }
  .world__delicious {
    margin-top: 100px;
    margin-right: 230px;
    font-size: 28px;
  }
  .world__distribution {
    width: 1280px;
    padding-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .world {
    height: 100%;
    padding-top: 20.83333vw;
    background-image: url(../img/world_bg-sp.png);
    background-size: cover;
  }
  .world__title {
    padding-left: 2.60417vw;
    font-size: 6.77083vw;
  }
  .world__title-bg {
    width: 100vw;
    height: 11.97917vw;
    background-image: url(../img/world_title-bg-sp.png);
  }
  .world__collect {
    margin-top: 19.53125vw;
    margin-left: 6.51042vw;
    font-size: 3.64583vw;
  }
  .world__explanation {
    margin-top: 52.08333vw;
    font-size: 2.08333vw;
  }
  .world__delicious {
    margin-top: 13.02083vw;
    margin-right: 9.76562vw;
    font-size: 3.64583vw;
  }
  .world__distribution {
    width: 100%;
    height: 22.26562vw;
    padding-top: 5.20833vw;
  }
}

.commitment {
  position: relative;
  height: 82.03125vw;
  padding-top: 8.59375vw;
}

.commitment__title {
  padding-left: 3.51562vw;
  font-family: "851MkPOP_002";
  font-size: 4.0625vw;
  line-height: 1.15384615385;
  color: #0d5289;
}

.commitment__title-bg {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  height: 7.03125vw;
  padding-top: 2.73438vw;
  background-image: url(../img/commitment_title-bg.png);
  background-size: cover;
}

.commitment__icon-okara {
  position: absolute;
  top: 15.625vw;
  display: block;
  width: 100vw;
}

.commitment__explanation {
  display: flex;
  justify-content: space-between;
  margin-top: 3.82812vw;
}

.commitment__okara {
  width: 40.625vw;
  height: 52.42188vw;
  margin-left: 6.40625vw;
  padding-top: 4.6875vw;
  padding-right: 4.53125vw;
  padding-left: 5.3125vw;
  background-image: url(../img/commitment_okara-bg.png);
  background-size: cover;
}

.commitment__okara-title {
  text-align: center;
  font-size: 1.875vw;
  font-weight: bold;
  line-height: 1.66666666667;
  letter-spacing: .1em;
}

.commitment__okara-txt {
  margin-top: 2.34375vw;
  font-size: 1.25vw;
  line-height: 2;
  letter-spacing: .1em;
}

.commitment__okara-txt--blue {
  font-weight: bold;
  color: #2b5f8f;
}

.commitment__recipe {
  width: 40.625vw;
  height: 52.42188vw;
  margin-right: 7.03125vw;
  padding-top: 4.6875vw;
  padding-right: 4.53125vw;
  padding-left: 4.6875vw;
  background-image: url(../img/commitment_recipe-bg.png);
  background-size: cover;
}

.commitment__recipe-title {
  text-align: center;
  font-size: 1.875vw;
  font-weight: bold;
  line-height: 1.66666666667;
  letter-spacing: .1em;
}

.commitment__recipe-txt {
  margin-top: 2.34375vw;
  font-size: 1.25vw;
  line-height: 2;
  letter-spacing: .1em;
}

.commitment__recipe-txt--blue {
  font-weight: bold;
  color: #2b5f8f;
}

@media screen and (min-width: 1280px) {
  .commitment {
    max-width: 1280px;
    height: 1050px;
    margin: 0 auto;
    padding-top: 110px;
  }
  .commitment__title {
    padding-left: 45px;
    font-size: 52px;
  }
  .commitment__title-bg {
    width: 1280px;
    height: 90px;
    padding-top: 35px;
  }
  .commitment__icon-okara {
    top: 200px;
    width: 1280px;
  }
  .commitment__explanation {
    margin-top: 49px;
  }
  .commitment__okara {
    width: 520px;
    height: 671px;
    margin-left: 82px;
    padding-top: 60px;
    padding-right: 58px;
    padding-left: 68px;
  }
  .commitment__okara-title {
    font-size: 24px;
  }
  .commitment__okara-txt {
    margin-top: 30px;
    font-size: 16px;
  }
  .commitment__recipe {
    width: 520px;
    height: 671px;
    margin-right: 90px;
    padding-top: 60px;
    padding-right: 58px;
    padding-left: 60px;
  }
  .commitment__recipe-title {
    font-size: 24px;
  }
  .commitment__recipe-txt {
    margin-top: 30px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .commitment {
    height: 100%;
    background-image: url(../img/commitment_bg-sp.png);
    background-size: cover;
  }
  .commitment__title {
    padding-left: 0;
    font-size: 6.77083vw;
  }
  .commitment__title-bg {
    width: 100%;
    height: 11.84896vw;
    padding-top: 4.55729vw;
    background-image: url(../img/commitment_title-bg-sp.png);
  }
  .commitment__icon-okara {
    top: 23.4375vw;
    width: 100%;
  }
  .commitment__explanation {
    flex-direction: column;
  }
  .commitment__okara {
    width: 88.54167vw;
    height: 79.16667vw;
    margin: 0 auto;
    padding-top: 7.8125vw;
    padding-right: 7.55208vw;
    padding-left: 8.85417vw;
    background-image: url(../img/commitment_okara-bg-sp.png);
  }
  .commitment__okara-title {
    font-size: 3.125vw;
  }
  .commitment__okara-txt {
    margin-top: 3.90625vw;
    font-size: 2.08333vw;
  }
  .commitment__recipe {
    width: 88.54167vw;
    height: 79.16667vw;
    margin: 0 auto;
    padding-top: 7.8125vw;
    padding-right: 7.55208vw;
    padding-left: 7.8125vw;
    background-image: url(../img/commitment_recipe-bg-sp.png);
  }
  .commitment__recipe-title {
    font-size: 3.125vw;
  }
  .commitment__recipe-txt {
    margin-top: 3.90625vw;
    font-size: 2.08333vw;
  }
}

.type {
  height: 74.21875vw;
  padding-top: 11.71875vw;
}

.type__title {
  padding-left: 2.34375vw;
  font-family: "851MkPOP_002";
  font-size: 4.0625vw;
  line-height: 1.15384615385;
  color: #0d5289;
}

.type__title-bg {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  height: 6.25vw;
  background-image: url(../img/type_title-bg.png);
  background-size: cover;
}

.type__explanation {
  padding-top: 5.39062vw;
}

.type__items {
  display: flex;
  justify-content: space-between;
  padding: 0 6.40625vw 0;
}

.type__item {
  width: 26.875vw;
  font-size: 1.25vw;
}

.type__item-img {
  display: block;
  width: 100%;
}

.type__item-name {
  padding-top: 1.17188vw;
  text-align: center;
  font-size: 1.875vw;
  font-weight: bold;
  line-height: 1.66666666667;
  letter-spacing: .1em;
}

.type__item-description {
  min-height: 11.71875vw;
  padding: 1.5625vw 0.39062vw;
  font-size: 1.25vw;
  line-height: 2;
  letter-spacing: .1em;
}

.type__item-icon {
  display: block;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .type {
    max-width: 1280px;
    height: 950px;
    margin: 0 auto;
    padding-top: 150px;
  }
  .type__title {
    padding-left: 30px;
    font-size: 52px;
  }
  .type__title-bg {
    width: 1280px;
    height: 80px;
  }
  .type__explanation {
    padding-top: 69px;
  }
  .type__items {
    padding: 0 82px 0;
  }
  .type__item {
    width: 344px;
    font-size: 16px;
  }
  .type__item-name {
    padding-top: 15px;
    text-align: center;
    font-size: 24px;
  }
  .type__item-description {
    min-height: 150px;
    padding: 20px 5px;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .type {
    height: 100%;
    padding-top: 19.53125vw;
    background-image: url(../img/type_bg-sp.png);
    background-size: cover;
  }
  .type__title {
    padding-left: 0;
    font-size: 6.77083vw;
  }
  .type__title-bg {
    width: 100%;
    height: 11.84896vw;
    background-image: url(../img/type_title-bg-sp.png);
  }
  .type__explanation {
    padding-top: 8.98438vw;
  }
  .type__items {
    flex-direction: column;
    padding: 0 5.46875vw 0;
  }
  .type__item {
    width: 44.79167vw;
    margin: 0 auto;
    padding-bottom: 13.02083vw;
    font-size: 2.08333vw;
  }
  .type__item:last-child {
    padding-bottom: 0;
  }
  .type__item-name {
    padding-top: 1.95313vw;
    font-size: 3.125vw;
  }
  .type__item-description {
    min-height: 19.53125vw;
    padding: 2.60417vw 0.65104vw;
    font-size: 2.08333vw;
  }
}

.fee {
  height: 80.3125vw;
}

.fee__title {
  font-family: "851MkPOP_002";
  font-size: 4.0625vw;
  line-height: 1.15384615385;
  color: #0d5289;
}

.fee__title-bg {
  width: 100vw;
  height: 7.03125vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(../img/fee_title-bg.png);
  background-size: cover;
}

.fee__trial {
  width: 100vw;
}

.fee__set {
  display: flex;
}

.fee__set-img {
  display: block;
  width: 50vw;
  height: 22.10938vw;
}

.fee__payment {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 7.03125vw;
}

.fee__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 39.0625vw;
  padding: 1.95312vw 0;
  border-bottom: solid 0.46875vw #002641;
  border-radius: 0.78125vw;
  background-color: #0d5289;
  color: #fff;
  cursor: pointer;
}

.fee__btn-txt {
  text-align: center;
  font-size: 1.5625vw;
  font-weight: bold;
  letter-spacing: .15em;
}

.fee__btn-annotation {
  text-align: center;
  font-size: 1.09375vw;
  font-weight: bold;
  letter-spacing: .15em;
}

.fee__btn-cookie {
  display: block;
  position: absolute;
  right: 2.26562vw;
  width: 2.42188vw;
}

@media screen and (min-width: 1280px) {
  .fee {
    max-width: 1280px;
    height: 1028px;
    margin: 0 auto;
  }
  .fee__title {
    font-size: 52px;
  }
  .fee__title-bg {
    width: 1280px;
    height: 90px;
  }
  .fee__trial {
    width: 1280px;
  }
  .fee__set-img {
    width: 640px;
    height: 283px;
  }
  .fee__payment {
    padding-top: 90px;
  }
  .fee__btn {
    width: 500px;
    padding: 25px 0;
    border-bottom: 6px solid #002641;
    border-radius: 10px;
  }
  .fee__btn-txt {
    font-size: 20px;
  }
  .fee__btn-annotation {
    font-size: 14px;
  }
  .fee__btn-cookie {
    right: 29px;
    width: 31px;
  }
}

@media screen and (max-width: 768px) {
  .fee {
    height: 100%;
    padding-top: 19.53125vw;
    background-image: url(../img/fee_bg-sp.png);
  }
  .fee__title {
    font-size: 6.77083vw;
  }
  .fee__title-bg {
    width: 100%;
    height: 11.84896vw;
    background-image: url(../img/fee_title-bg-sp.png);
  }
  .fee__payment {
    padding-top: 11.71875vw;
  }
  .fee__btn {
    width: 65.10417vw;
    padding: 3.25521vw 0;
    border-bottom: solid 0.78125vw #002641;
    border-radius: 1.30208vw;
  }
  .fee__btn-txt {
    font-size: 2.60417vw;
  }
  .fee__btn-annotation {
    font-size: 1.82292vw;
  }
  .fee__btn-cookie {
    right: 3.77604vw;
    width: 4.03646vw;
  }
}

.order {
  height: 143.90625vw;
  position: relative;
  padding-top: 11.71875vw;
}

.order__title {
  padding-left: 2.34375vw;
  font-family: "851MkPOP_002";
  font-size: 4.0625vw;
  line-height: 1.15384615385;
  color: #0d5289;
}

.order__title-bg {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  height: 7.03125vw;
  background-image: url(../img/order_title-bg.png);
  background-size: cover;
}

.order__phone {
  display: flex;
  justify-content: center;
  padding-top: 2.42188vw;
  padding-bottom: 6.48438vw;
}

.order__phone-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 41.40625vw;
  height: 12.34375vw;
  background-image: url(../img/order_phone.png);
  background-size: cover;
}

.order__number {
  font-family: "MarkaziText";
  font-size: 4.6875vw;
  line-height: 1;
  letter-spacing: .05em;
  color: #2d9748;
}

.order__day {
  font-size: 1.25vw;
  line-height: 2;
  letter-spacing: .1em;
}

.order__form-title {
  font-family: "851MkPOP_002";
  font-size: 4.0625vw;
  line-height: 1.15384615385;
  color: #0d5289;
}

.order__form-title-bg {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  height: 7.03125vw;
  background-image: url(../img/order_form-title-bg.png);
  background-size: cover;
}

.order__form-bg {
  width: 70.3125vw;
  height: 81.875vw;
  margin: 4.29688vw auto 0;
  padding: 6.25vw 7.03125vw 7.1875vw;
  background-image: url(../img/order_form-bg.png);
  background-size: cover;
}

.order__form-contents {
  width: 100%;
  border-spacing: 0 2.96875vw;
}

.order__item {
  display: flex;
  padding-bottom: 3.51562vw;
}

.order__item:last-child {
  padding-bottom: 0;
}

.order__item-name {
  display: flex;
  align-items: center;
  width: 15.3125vw;
  vertical-align: top;
  text-align: left;
  font-size: 1.25vw;
  font-weight: bold;
  line-height: 2;
  letter-spacing: .1em;
}

.order__item-name--multiple {
  align-items: flex-start;
  padding-top: 1.40625vw;
}

.order__wrap-box {
  width: 40.9375vw;
  padding-left: 1.875vw;
}

.order__wrap-select {
  display: flex;
  align-items: center;
  padding-left: 1.875vw;
}

.order__wrap-mail {
  position: relative;
  width: 40.9375vw;
  padding-left: 1.875vw;
}

.order__wrap-btn {
  margin: 0 auto;
}

.order__select-item {
  display: flex;
  align-items: center;
  margin-left: 2.5vw;
  font-size: 1.25vw;
  line-height: 3.75;
  letter-spacing: .1em;
}

.order__txt-box {
  width: 100%;
  height: 4.6875vw;
  padding: 0 1.40625vw;
  border: 0.07812vw solid #795100;
  border-radius: 0.3125vw;
  background: #f7eddb;
  font-size: 1.25vw;
  line-height: 3.75;
  letter-spacing: .1em;
  color: #000;
}

.order__txt-box::placeholder {
  color: #888;
}

.order__txt-area {
  resize: none;
  width: 100%;
  height: 15.625vw;
  padding: 0.78125vw 1.40625vw;
  border: 0.07812vw solid #795100;
  border-radius: 0.3125vw;
  background: #f7eddb;
  font-size: 1.25vw;
  letter-spacing: .1em;
  color: #000;
}

.order__txt-area::placeholder {
  color: #888;
}

.order__txt-border {
  border-bottom: 0.07812vw solid #000;
}

.order__error {
  margin-top: 0.9375vw;
  font-size: 1.25vw;
  letter-spacing: .1em;
  color: #df1111;
}

.order__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32.8125vw;
  height: 5.46875vw;
  background: #2d9748;
  border-bottom: 0.46875vw solid #08581c;
  border-radius: 0.54688vw;
  font-size: 1.5625vw;
  font-weight: bold;
  line-height: 3;
  letter-spacing: .15em;
  color: #fff;
}

.order__btn-txt {
  margin: 0 10vw;
}

.order__cookie1 {
  display: block;
  position: absolute;
  top: -9.375vw;
  left: 0;
  width: 28.125vw;
}

.order__cookie2 {
  display: block;
  position: absolute;
  top: 36.09375vw;
  right: 0vw;
  width: 24.84375vw;
}

.order__leaf-right1 {
  display: block;
  position: absolute;
  top: 11.71875vw;
  right: 0;
  width: 16.01562vw;
}

.order__leaf-right2 {
  display: block;
  position: absolute;
  top: 117.34375vw;
  right: 0;
  width: 7.8125vw;
}

.order__leaf-left1 {
  display: block;
  position: absolute;
  top: 39.6875vw;
  width: 15.625vw;
}

.order__leaf-left2 {
  display: block;
  position: absolute;
  top: 73.20312vw;
  width: 14.84375vw;
}

@media screen and (min-width: 1280px) {
  .order {
    max-width: 1280px;
    height: 1842px;
    margin: 0 auto;
    padding-top: 150px;
  }
  .order__title {
    padding-left: 30px;
    font-size: 52px;
  }
  .order__title-bg {
    width: 1280px;
    height: 90px;
  }
  .order__phone {
    padding-top: 31px;
    padding-bottom: 83px;
  }
  .order__phone-box {
    width: 530px;
    height: 158px;
  }
  .order__number {
    font-size: 60px;
  }
  .order__day {
    font-size: 16px;
  }
  .order__form-title {
    font-size: 52px;
  }
  .order__form-title-bg {
    width: 1280px;
    height: 90px;
  }
  .order__form-bg {
    width: 900px;
    height: 1048px;
    margin: 55px auto 0;
    padding: 80px 90px 92px;
  }
  .order__form-contents {
    border-spacing: 0 38px;
  }
  .order__item {
    padding-bottom: 45px;
  }
  .order__item-name {
    width: 196px;
    vertical-align: top;
    font-size: 16px;
  }
  .order__item-name--multiple {
    padding-top: 18px;
  }
  .order__wrap-box {
    width: 524px;
    padding-left: 24px;
  }
  .order__wrap-select {
    padding-left: 24px;
  }
  .order__wrap-mail {
    width: 524px;
    padding-left: 24px;
  }
  .order__select-item {
    margin-left: 32px;
    font-size: 16px;
  }
  .order__txt-box {
    height: 60px;
    padding: 0 18px;
    border: 1px solid #795100;
    border-radius: 4px;
    font-size: 16px;
  }
  .order__txt-area {
    height: 200px;
    padding: 10px 18px;
    border: 1px solid #795100;
    border-radius: 4px;
    font-size: 16px;
  }
  .order__txt-border {
    border-bottom: 1px solid #000;
  }
  .order__error {
    margin-top: 12px;
    font-size: 16px;
  }
  .order__btn {
    width: 420px;
    height: 70px;
    border-bottom: 6px solid #08581c;
    border-radius: 7px;
    font-size: 20px;
  }
  .order__btn-txt {
    margin: 0 128px;
  }
  .order__cookie1 {
    top: -120px;
    left: 0;
    width: 360px;
  }
  .order__cookie2 {
    display: block;
    top: 462px;
    width: 318px;
  }
  .order__leaf-right1 {
    top: 150px;
    width: 205px;
  }
  .order__leaf-right2 {
    top: 1502px;
    width: 100px;
  }
  .order__leaf-left1 {
    top: 508px;
    width: 200px;
  }
  .order__leaf-left2 {
    top: 937px;
    width: 190px;
  }
}

@media screen and (max-width: 768px) {
  .order {
    height: 100%;
    padding-top: 19.53125vw;
    padding-bottom: 19.53125vw;
    background-image: url(../img/order_bg-sp.png);
  }
  .order__title {
    font-size: 6.77083vw;
  }
  .order__title-bg {
    width: 100%;
    height: 11.97917vw;
    background-image: url(../img/order_title-bg-sp.png);
  }
  .order__phone {
    padding-top: 4.03646vw;
    padding-bottom: 10.80729vw;
  }
  .order__phone-box {
    width: 69.01042vw;
    height: 20.57292vw;
    background-image: url(../img/order_phone.png);
  }
  .order__number {
    font-size: 7.8125vw;
  }
  .order__day {
    font-size: 2.08333vw;
  }
  .order__form-title {
    font-size: 6.77083vw;
  }
  .order__form-title-bg {
    width: 100%;
    height: 11.97917vw;
    background-image: url(../img/order_form-title-bg-sp.png);
  }
  .order__form-bg {
    width: 100%;
    height: 100%;
    margin: 7.16146vw auto 0;
    padding: 10.41667vw 11.71875vw 11.97917vw;
    background-image: url(../img/order_form-bg.png);
  }
  .order__form-contents {
    width: 100%;
    border-spacing: 0 4.94792vw;
  }
  .order__item {
    flex-direction: column;
    padding-bottom: 5.85938vw;
  }
  .order__item-name {
    width: 100%;
    padding: 1.95313vw 0;
    font-size: 2.08333vw;
  }
  .order__wrap-box {
    width: 100%;
    padding-left: 0;
  }
  .order__wrap-select {
    justify-content: space-between;
    padding-left: 0;
  }
  .order__wrap-mail {
    width: 100%;
    padding-left: 0;
  }
  .order__select-item {
    margin-left: 4.16667vw;
    font-size: 2.08333vw;
  }
  .order__txt-box {
    height: 7.8125vw;
    padding: 0 2.34375vw;
    border: 0.13021vw solid #795100;
    border-radius: 0.52083vw;
    font-size: 2.08333vw;
  }
  .order__txt-box::placeholder {
    color: #888;
  }
  .order__txt-area {
    width: 100%;
    height: 26.04167vw;
    padding: 1.30208vw 2.34375vw;
    border: 0.13021vw solid #795100;
    border-radius: 0.52083vw;
    font-size: 2.08333vw;
  }
  .order__txt-border {
    border-bottom: 0.13021vw solid #000;
  }
  .order__error {
    margin-top: 1.5625vw;
    font-size: 2.08333vw;
  }
  .order__btn {
    width: 54.6875vw;
    height: 9.11458vw;
    border-bottom: 0.78125vw solid #08581c;
    border-radius: 0.91146vw;
    font-size: 2.60417vw;
  }
  .order__btn-txt {
    margin: 0 16.66667vw;
  }
  .order__cookie1 {
    top: 0vw;
  }
  .order__cookie2 {
    top: 60.15625vw;
    right: 0vw;
  }
  .order__leaf-right1 {
    top: 35.15625vw;
  }
  .order__leaf-right2 {
    top: 117.34375vw;
  }
  .order__leaf-left1 {
    top: 78.125vw;
  }
  .order__leaf-left2 {
    top: 151.32812vw;
  }
}

.footer {
  position: relative;
}

.footer__top {
  text-align: center;
  background-color: #ede2d0;
  font-size: 1.09375vw;
  line-height: 4.28571428571;
  letter-spacing: .1em;
}

.footer__under {
  padding: 2.1875vw 0 1.95312vw;
  text-align: center;
  background-color: #41341e;
  font-size: 1.09375vw;
  line-height: 4.28571428571;
  letter-spacing: .1em;
  color: #988b76;
}

.footer__sns {
  display: block;
  width: 100vw;
  margin: 0 auto;
}

.footer__copyright {
  font-family: "MarkaziText";
}

@media screen and (min-width: 1280px) {
  .footer__top {
    font-size: 14px;
  }
  .footer__under {
    padding: 28px 0 25px;
    font-size: 14px;
  }
  .footer__sns {
    width: 1280px;
  }
}

@media screen and (max-width: 768px) {
  .footer__top {
    font-size: 1.82292vw;
  }
  .footer__under {
    padding: 3.64583vw 0 3.25521vw;
    font-size: 1.82292vw;
  }
  .footer__sns {
    width: 100vw;
  }
}

.scroll {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: right;
}

.scroll__btn {
  width: 7.34375vw;
  vertical-align: bottom;
}

.arrow--right {
  font-size: 1.25vw;
}

@media screen and (min-width: 1280px) {
  .arrow--right {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .arrow--right {
    font-size: 2.08333vw;
  }
}

input[type=radio] {
  display: none;
}

.radio01 {
  position: relative;
  display: inline-block;
  width: 14.60938vw;
  padding-left: 4.29688vw;
  cursor: pointer;
  font-size: 1.25vw;
  letter-spacing: .1em;
}

.radio01::before {
  content: '';
  display: block;
  position: absolute;
  top: -0.625vw;
  left: 0;
  width: 3.125vw;
  height: 3.125vw;
  background: #f7eddb;
  border: 0.07812vw solid #795100;
  border-radius: 50%;
}

.radio01::after {
  content: '';
  display: block;
  position: absolute;
  top: 0.39062vw;
  left: 1.01562vw;
  width: 1.09375vw;
  height: 1.09375vw;
  background: #2d9748;
  border-radius: 50%;
  opacity: 0;
}

input[type=radio]:checked + .radio01::after {
  opacity: 1;
}

@media screen and (min-width: 1280px) {
  .radio01 {
    width: 187px;
    padding-left: 55px;
    font-size: 16px;
  }
  .radio01::before {
    top: -8px;
    width: 40px;
    height: 40px;
    border: 1px solid #795100;
  }
  .radio01::after {
    top: 5px;
    left: 13px;
    width: 14px;
    height: 14px;
  }
}

@media screen and (max-width: 768px) {
  .radio01 {
    width: 24.34896vw;
    padding-left: 7.16146vw;
    font-size: 2.08333vw;
  }
  .radio01::before {
    top: -1.04167vw;
    width: 5.20833vw;
    height: 5.20833vw;
    border: 0.13021vw solid #795100;
  }
  .radio01::after {
    top: 0.65104vw;
    left: 1.69271vw;
    width: 1.82292vw;
    height: 1.82292vw;
  }
}

.cp_ipselect {
  width: 7.03125vw;
  height: 3.125vw;
  margin-left: 1.40625vw;
  line-height: 1;
}

.cp_ipselect select {
  width: 100%;
  height: 100%;
  text-indent: 0.01px;
  text-overflow: ellipsis;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  background-image: none;
  box-shadow: none;
  -webkit-appearance: none;
}

.cp_ipselect select::-ms-expand {
  display: none;
}

.cp_ipselect.cp_sl04 {
  position: relative;
  border: 0.07812vw solid #795100;
  border-radius: 0.3125vw;
  background: #f7eddb;
}

.cp_ipselect.cp_sl04::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0.70312vw;
  width: 0;
  height: 0;
  padding: 0;
  border-top: 0.3125vw solid #865500;
  border-right: 0.3125vw solid transparent;
  border-left: 0.3125vw solid transparent;
  pointer-events: none;
}

.cp_ipselect select {
  padding: 0.46875vw 2.96875vw 0.46875vw 0.9375vw;
  color: #000;
}

@media screen and (min-width: 1280px) {
  .cp_ipselect {
    width: 90px;
    height: 40px;
    margin-left: 18px;
  }
  .cp_ipselect select {
    text-indent: 0.01px;
  }
  .cp_ipselect.cp_sl04 {
    border: 1px solid #795100;
    border-radius: 4px;
  }
  .cp_ipselect.cp_sl04::before {
    right: 9px;
    border-top: 4px solid #865500;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  .cp_ipselect select {
    padding: 6px 38px 6px 12px;
    color: #000;
  }
}

@media screen and (max-width: 768px) {
  .cp_ipselect {
    width: 11.71875vw;
    height: 5.20833vw;
    margin-left: 2.34375vw;
  }
  .cp_ipselect.cp_sl04 {
    border: 0.13021vw solid #795100;
    border-radius: 0.52083vw;
  }
  .cp_ipselect.cp_sl04::before {
    right: 1.17188vw;
    border-top: 0.52083vw solid #865500;
    border-right: 0.52083vw solid transparent;
    border-left: 0.52083vw solid transparent;
  }
  .cp_ipselect select {
    padding: 0.78125vw 4.94792vw 0.78125vw 1.5625vw;
  }
}

.circle {
  position: absolute;
  top: 1.40625vw;
  right: 1.5625vw;
  width: 1.95312vw;
}

@media screen and (min-width: 1280px) {
  .circle {
    top: 18px;
    right: 20px;
    width: 25px;
  }
}

@media screen and (max-width: 768px) {
  .circle {
    top: 2.34375vw;
    right: 2.60417vw;
    width: 3.25521vw;
  }
}

input[type=checkbox] {
  display: none;
}

.checkbox01 {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  width: auto;
  height: 3.125vw;
  padding-left: 3.90625vw;
  font-size: 1.25vw;
  cursor: pointer;
}

.checkbox01::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 3.125vw;
  height: 3.125vw;
  border: 0.07812vw solid #795100;
  border-radius: 0.3125vw;
  background: #f7eddb;
}

.checkbox01::after {
  content: '';
  display: block;
  position: absolute;
  top: 0.46875vw;
  left: 1.25vw;
  width: 0.78125vw;
  height: 1.95312vw;
  border-right: 0.23438vw solid #2d9748;
  border-bottom: 0.23438vw solid #2d9748;
  opacity: 0;
  transform: rotate(45deg);
}

input[type=checkbox]:checked + .checkbox01::after {
  opacity: 1;
}

@media screen and (min-width: 1280px) {
  .checkbox01 {
    height: 40px;
    padding-left: 50px;
    font-size: 16px;
  }
  .checkbox01::before {
    width: 40px;
    height: 40px;
    border: 1px solid #795100;
    border-radius: 4px;
  }
  .checkbox01::after {
    top: 6px;
    left: 16px;
    width: 10px;
    height: 25px;
    border-right: 3px solid #2d9748;
    border-bottom: 3px solid #2d9748;
  }
}

@media screen and (max-width: 768px) {
  .checkbox01 {
    height: 5.20833vw;
    padding-left: 6.51042vw;
    font-size: 2.08333vw;
  }
  .checkbox01::before {
    width: 5.20833vw;
    height: 5.20833vw;
    border: 0.13021vw solid #795100;
    border-radius: 0.52083vw;
  }
  .checkbox01::after {
    top: 0.78125vw;
    left: 2.08333vw;
    width: 1.30208vw;
    height: 3.25521vw;
    border-right: 0.39062vw solid #2d9748;
    border-bottom: 0.39062vw solid #2d9748;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: .5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeUp {
  animation-name: fadeUp;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeDown {
  animation-name: fadeDown;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeLeft {
  animation-name: fadeLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translate3d(0, 7.8125vw, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translate3d(0, -7.8125vw, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translate3d(-7.8125vw, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.sa {
  opacity: 0;
  transition: all 2s ease;
}

.sa.show {
  opacity: 1;
  transform: none;
}

.sa--lr {
  transform: translate(-7.8125vw, 0);
}

.sa--rl {
  transform: translate(7.8125vw, 0);
}

.sa--up {
  transform: translate(0, 7.8125vw);
}

.sa--down {
  transform: translate(0, -7.8125vw);
}

.layer {
  display: none;
  /* 初期表示は非表示 */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.popup {
  display: none;
  /* 初期表示は非表示 */
  position: absolute;
  top: 10.625vw;
  left: 50%;
  width: 62.5vw;
  margin-left: -31.25vw;
  padding: 3.51562vw 0 3.90625vw 4.375vw;
  background-color: #f9f6f1;
  border: 0.3125vw solid #0d5289;
  border-radius: 0.625vw;
  text-align: center;
  z-index: 10;
}

.popup:before {
  content: "";
  position: absolute;
  top: -4.60938vw;
  left: 50%;
  margin-left: -3.125vw;
  border: 3.125vw solid transparent;
  border-bottom: 1.48438vw solid #f9f6f1;
  z-index: 2;
}

.popup:after {
  content: "";
  position: absolute;
  top: -5.78125vw;
  left: 50%;
  margin-left: -3.90625vw;
  border: 3.90625vw solid transparent;
  border-bottom: 1.875vw solid #0d5289;
  z-index: 1;
}

.popup__dl {
  text-align: left;
  font-size: 1.25vw;
  font-weight: bold;
  line-height: 2;
  letter-spacing: .1em;
}

.popup__dt {
  color: #0d5289;
}

.popup__dt-num {
  margin-right: 0.46875vw;
  font-family: "Markazi Text";
  font-size: 2.5vw;
  line-height: 1.875;
  letter-spacing: .05em;
}

.popup__dd {
  margin-left: 3.20312vw;
  color: #000;
}

.close {
  position: absolute;
  right: 0;
}

.close__content {
  display: flex;
  margin-right: 1.95312vw;
  cursor: pointer;
}

.close__txt {
  margin-left: 0.46875vw;
  font-size: 1.25vw;
  line-height: 1;
  letter-spacing: .1em;
  border-bottom: 0.07812vw solid #888;
  color: #888;
}

.my-parts {
  display: inline-block;
  width: 1.25vw;
  height: 1.25vw;
  position: relative;
  cursor: pointer;
}

.my-parts span::before,
.my-parts span::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 17%;
  margin: -8% 0 0 -42%;
  background: #888;
}

.my-parts span::before {
  transform: rotate(-45deg);
}

.my-parts span::after {
  transform: rotate(45deg);
}
