@charset "UTF-8";
* {
  list-style: none;
  font-family: 遊ゴシック体;
}

.bg {
  background-image: url(../img/bg.png);
  background-size: cover;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
}

.logo {
  display: block;
  width: 20.23438vw;
  height: 11.95312vw;
}

.nav {
  margin-right: 2.34375vw;
}

.nav__list {
  display: flex;
}

.nav__item {
  position: relative;
  padding-top: 4.29688vw;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 1.09375vw;
  font-weight: bold;
  line-height: 3.57142857143;
  letter-spacing: .1em;
}

.nav__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0.07812vw;
  height: 3.90625vw;
  margin: auto;
  background-color: #000;
}

.nav__link {
  position: relative;
  margin-left: 1.25vw;
  padding-top: 3.35938vw;
  line-height: 3.57142857143;
}

.nav__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0.07812vw;
  height: 3.35938vw;
  margin: auto;
  background-color: #000;
}

.nav__link-content {
  height: 16.01562vw;
  padding: 0.9375vw 0;
  border-bottom: 0.23438vw solid #08581c;
  border-radius: 0.625vw;
  background: #2d9748;
}

.nav__btn {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 1.01562vw;
  font-weight: bold;
  letter-spacing: .1em;
  color: #fff;
}

.mv {
  background-image: url(../img/mv_bg.png);
  background-size: cover;
}

.mv__title {
  display: block;
  width: 100%;
}

.mv__btns {
  display: flex;
  padding-left: 17.34375vw;
}

.mv__btn {
  display: flex;
  align-items: center;
  margin-right: 1.17188vw;
  padding: 0 1.5625vw;
  font-size: 1.40625vw;
  font-weight: bold;
  line-height: 3.33333333333;
  letter-spacing: .15em;
  text-decoration: none;
  color: #fff;
  border-radius: 0.78125vw;
}

.mv__btn--what {
  background: #0d5289;
  border-bottom: solid 0.3125vw #002641;
}

.mv__btn--here {
  background: #2d9748;
  border-bottom: solid 0.3125vw #08581c;
}

.mv__trial {
  display: block;
  width: 100%;
}

.calorie {
  display: flex;
}

.calorie__column1 {
  display: block;
  width: 27.73438vw;
}

.calorie__line1 {
  display: flex;
}

.calorie__main {
  display: block;
  width: 39.45312vw;
}

.calorie__cookie {
  display: block;
  width: 32.8125vw;
}

.calorie__line2 {
  display: flex;
}

.calorie__txt {
  width: 43.35938vw;
  text-align: center;
  font-size: 1.25vw;
  line-height: 2;
  letter-spacing: .1em;
}

.calorie__txt--blue {
  font-weight: bold;
  color: #0d5289;
}

.calorie__girl {
  display: block;
  width: 28.90625vw;
}

.organic__what {
  display: flex;
}

.organic__what-leaf--left {
  display: block;
  width: 26.5625vw;
}

.organic__what-leaf--right {
  display: block;
  width: 26.5625vw;
}

.organic__what-title {
  display: block;
  width: 46.875vw;
}

.organic__kind {
  display: flex;
}

.organic__kind-family {
  display: block;
  width: 57.03125vw;
}

.organic__kind-word {
  display: flex;
}

.organic__kind-side {
  padding-top: 6.25vw;
  padding-left: 4.29688vw;
}

.organic__kind-dt {
  margin-top: 2.57812vw;
  font-size: 1.25vw;
  font-weight: bold;
  line-height: 2;
  letter-spacing: .1em;
}

.organic__kind-dt:first-child {
  margin-top: 0;
}

.organic__kind-dd {
  font-size: 1.25vw;
  line-height: 2;
  letter-spacing: .1em;
}

.organic__kind-vertical {
  padding-top: 1.64062vw;
  padding-left: 2.73438vw;
}

.organic__kind-txt {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 2.1875vw;
  font-weight: bold;
  line-height: 1.71428571429;
  letter-spacing: .1em;
  color: #0d5289;
}

.organic__sweets {
  display: flex;
}

.organic__sweets-leaf {
  display: block;
  width: 27.34375vw;
}

.organic__sweets-title {
  display: block;
  width: 72.65625vw;
}

.organic__manufacture {
  display: flex;
  justify-content: space-between;
}

.organic__manufacture-word {
  display: flex;
}

.organic__manufacture-vertical {
  padding-left: 5.46875vw;
}

.organic__manufacture-txt {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 2.1875vw;
  font-weight: bold;
  line-height: 1.71428571429;
  letter-spacing: .1em;
  color: #0d5289;
}

.organic__manufacture-side {
  padding-left: 4.29688vw;
}

.organic__manufacture-dt {
  margin-top: 2.57812vw;
  font-size: 1.25vw;
  font-weight: bold;
  line-height: 2;
  letter-spacing: .1em;
}

.organic__manufacture-dt:first-child {
  margin-top: 0;
}

.organic__manufacture-dd {
  font-size: 1.25vw;
  line-height: 2;
  letter-spacing: .1em;
}

.organic__manufacture-packing {
  display: block;
  width: 57.03125vw;
}

.organic__jas {
  display: flex;
}

.organic__jas-leaf--left {
  display: block;
  width: 31.25vw;
}

.organic__jas-leaf--right {
  display: block;
  width: 14.84375vw;
}

.organic__jas-title {
  display: block;
  width: 53.90625vw;
}

.organic__japan {
  display: block;
  width: 100vw;
}

.organic__boxes {
  display: flex;
  justify-content: space-between;
  margin: 0 7.03125vw;
}

.organic__boxes-dt {
  padding-right: 1.17188vw;
  padding-left: 1.17188vw;
  font-size: 1.875vw;
  font-weight: bold;
  line-height: 1.66666666667;
  letter-spacing: .1em;
}

.organic__boxes-dd {
  font-size: 1.25vw;
  line-height: 2;
  letter-spacing: .1em;
}

.organic__raw-material {
  display: flex;
  width: 40.625vw;
  padding-top: 1.5625vw;
}

.organic__production-plant {
  display: flex;
  width: 40.625vw;
  padding-top: 1.5625vw;
}

.organic__order {
  display: flex;
  justify-content: center;
  padding: 4.29688vw 0 10.46875vw;
}

.organic__btn {
  display: flex;
  align-items: center;
  margin-right: 1.17188vw;
  padding: 0 1.5625vw;
  font-size: 1.40625vw;
  font-weight: bold;
  line-height: 3.33333333333;
  letter-spacing: .15em;
  text-decoration: none;
  color: #fff;
  border-radius: 0.78125vw;
}

.organic__btn--here {
  background: #2d9748;
  border-bottom: solid 0.3125vw #08581c;
}

.arrow {
  position: relative;
  display: inline-block;
  color: #0d5289;
  text-decoration: none;
}

.arrow--side {
  padding: 0 1.95312vw 0 1.17188vw;
}

.arrow--vertical {
  position: absolute;
}

.round--side::before {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  width: 1.95312vw;
  height: 1.95312vw;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
}

.round--side::after {
  position: absolute;
  top: -0.23438vw;
  bottom: 0;
  left: 1.71875vw;
  margin: auto;
  content: "";
  width: 0.78125vw;
  height: 0.78125vw;
  border-top: 0.23438vw solid #0d5289;
  border-right: 0.23438vw solid #0d5289;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.round--vertical::before {
  position: absolute;
  top: 0.3125vw;
  left: 1.25vw;
  margin: auto;
  content: "";
  width: 1.25vw;
  height: 1.25vw;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
}

.round--vertical::after {
  position: absolute;
  top: 0.625vw;
  left: 1.5625vw;
  margin: auto;
  content: "";
  width: 0.46875vw;
  height: 0.46875vw;
  border-top: 0.15625vw solid #0d5289;
  border-right: 0.15625vw solid #0d5289;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: .5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeUp {
  animation-name: fadeUp;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeDown {
  animation-name: fadeDown;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeLeft {
  animation-name: fadeLeft;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(7.8125vw);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-7.8125px*vw);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-7.8125vw);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sa {
  opacity: 0;
  transition: all 2s ease;
}

.sa.show {
  opacity: 1;
  transform: none;
}

.sa--lr {
  transform: translate(-7.8125vw, 0);
}

.sa--rl {
  transform: translate(7.8125vw, 0);
}

.sa--up {
  transform: translate(0, 7.8125vw);
}

.sa--down {
  transform: translate(0, 7.8125vw);
}
