.fade {
  &In {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  &Up {
    animation-name: fadeUp;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  &Down {
    animation-name: fadeDown;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  &Left {
    animation-name: fadeLeft;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    opacity:0;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeUp {
  from {
      opacity: 0;
      transform: translateY(get_vw(100));
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeDown {
  from {
      opacity: 0;
      transform: translateY(get_vw(-100px));
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeLeft {
  from {
      opacity: 0;
      transform: translateX(get_vw(-100));
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.sa {
  opacity: 0;
  transition: all 2s ease;
}

.sa.show {
  opacity: 1;
  transform: none;
}

.sa--lr {
  transform: translate(get_vw(-100), 0);
}

.sa--rl {
  transform: translate(get_vw(100), 0);
}

.sa--up {
  transform: translate(0, get_vw(100));
}

.sa--down {
  transform: translate(0, get_vw(100));
}
