// フェードイン
.fade {
  &In {
    animation-name: fadeIn;
    animation-duration: 2s; //アニメーション時間
    animation-timing-function: ease-out; //アニメーションさせるイージング
    animation-delay: .5s; //アニメーション開始させる時間
    animation-iteration-count: 1; //繰り返し回数
    animation-direction: normal; //往復処理をするかどうか
    animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
    opacity:0;
  }
  &Up {
    animation-name: fadeUp;
    animation-duration: 2s; //アニメーション時間
    animation-timing-function: ease-out; //アニメーションさせるイージング
    animation-delay: 1s; //アニメーション開始させる時間
    animation-iteration-count: 1; //繰り返し回数
    animation-direction: normal; //往復処理をするかどうか
    animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
    opacity:0;
  }
  &Down {
    animation-name: fadeDown;
    animation-duration: 2s; //アニメーション時間
    animation-timing-function: ease-out; //アニメーションさせるイージング
    animation-delay: 1.5s; //アニメーション開始させる時間
    animation-iteration-count: 1; //繰り返し回数
    animation-direction: normal; //往復処理をするかどうか
    animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
    opacity:0;
  }
  &Left {
    animation-name: fadeLeft;
    animation-duration: 2s; //アニメーション時間
    animation-timing-function: ease-out; //アニメーションさせるイージング
    animation-delay: 1.5s; //アニメーション開始させる時間
    animation-iteration-count: 1; //繰り返し回数
    animation-direction: normal; //往復処理をするかどうか
    animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
    opacity:0;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeUp {
  from {
      opacity: 0;
      transform: translate3d(0, get_vw(100), 0);
  }
  to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeDown {
  from {
      opacity: 0;
      transform: translate3d(0, get_vw(-100), 0);
  }
  to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeLeft {
  from {
      opacity: 0;
      transform: translate3d(get_vw(-100), 0, 0);
  }
  to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}

// スクロール用フェードイン
.sa {
  opacity: 0;
  transition: all 2s ease;
}

.sa.show {
  opacity: 1;
  transform: none;
}

.sa--lr {
  transform: translate(get_vw(-100), 0);
}

.sa--rl {
  transform: translate(get_vw(100), 0);
}

.sa--up {
  transform: translate(0, get_vw(100));
}

.sa--down {
  transform: translate(0, get_vw(-100));
}
