.arrow {
  position: relative;
  display: inline-block;
  color: #0d5289;
  text-decoration: none;
  &--side {
    padding: 0 get_vw(25) 0 get_vw(15);
  }
  &--vertical {
    position: absolute;
  }
}

.round {
  &--side {
    &::before{
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      content: "";
      width: get_vw(25);
      height: get_vw(25);
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: #fff;
    }
    &::after{
      position: absolute;
      top: get_vw(-3);
      bottom: 0;
      left: get_vw(22);
      margin: auto;
      content: "";
      width: get_vw(10);
      height: get_vw(10);
      border-top: get_vw(3) solid #0d5289;
      border-right: get_vw(3) solid #0d5289;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }
  }
  &--vertical {
    &::before{
      position: absolute;
      top: get_vw(4);
      left: get_vw(16);
      margin: auto;
      content: "";
      width: get_vw(16);
      height: get_vw(16);
      -webkit-border-radius: 50%;
      border-radius: 50%;
      background: #fff;
    }
    &::after{
      position: absolute;
      top: get_vw(8);
      left: get_vw(20);
      margin: auto;
      content: "";
      width: get_vw(6);
      height: get_vw(6);
      border-top: get_vw(2) solid #0d5289;
      border-right: get_vw(2) solid #0d5289;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
    }
  }
}
